:root {
    --num-columnas: 10;
    --num-filas: 10;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(var(--num-columnas), 32px);
    grid-template-rows: repeat(var(--num-filas), 32px);
}

#tablero div {
    background-color: #bbbbbb;
    border: 1px solid #d3d3d3;
    text-align: center;
    line-height: 32px;
}
