:root {
  --num-columnas: 10;
  --num-filas: 10;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(var(--num-columnas), 32px);
  grid-template-rows: repeat(var(--num-filas), 32px);
}

#tablero div {
  background-color: #bbbbbb;
  border-left: 2px solid #d3d3d3;
  border-top: 2px solid #d3d3d3;
  border-right: 2px solid #a9a9a9;
  border-bottom: 2px solid #a9a9a9;
  text-align: center;
  line-height: 32px;
}
